extends base_landing
-load static utils

block extra_css
    link(href='{% static "pages/plugins/pace/pace-theme-flash.css" %}', rel='stylesheet', type='text/css')
    link(href='{% static "pages/css/pages-icons.css" %}', rel='stylesheet', type='text/css')
    link(href='{% static "css/pools/list.css" %}', rel='stylesheet', type='text/css')
    link(href='{% static "css/pools/offer-list.css" %}', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap', rel='stylesheet')


block content
    - csrf_token
    .main-cont.h-100
        .row
            .col-12
                h1 Ofertas de #{object.tokenName}s
        .row
            .col-8
                if offers|length is 0
                    span#no-offers.m-t-30 No hay ofertas disponibles
                each offer in offers
                    if offer.offeredAmount > 0
                        .flex.offer-card
                            .card.col-12.flex-horizontal-center
                                .card-body
                                    .row
                                        .col-sm-12.col-md-7.text-justify
                                            .row
                                                .title
                                                    span Oferta ##{forloop.counter}
                                            .row
                                                .sub-title
                                                    if offer.recentlyCreated
                                                        span.label.label-danger.m-r-10 Nueva oferta
                                                    span.label.label-info Creada: #{offer.createdAt}
                                        .col-sm-12.col-md-5.text-right
                                            span.offer-info Precio: #{offer.offeredValue|currency}
                                            br
                                            span.offer-info Cantidad de tokens: #{offer.offeredAmount}
                                            input.maxAmount(type="hidden", value='{{offer.offeredAmount}}')
                                            button.btn.btn-block.btn-warning.js-btn-getTokens(type='button', data-id='{{offer.id}}' data-key='{{offer.poolKey}}', data-value='{{offer.offeredValue}}', data-max-amount='{{offer.offeredAmount}}' data-index='{{offer.index}}') Obtener tokens

    #modalSlideUp.modal.fade.slide-up.disable-scroll(tabindex="-1" role="dialog" aria-hidden="false")
        .modal-dialog
            .modal-content-wrapper
                .modal-content
                    .modal-header.clearfix.text-left
                        button.close(type="button" data-dismiss="modal" aria-hidden="true")
                            i.pg-close.fs-14
                        span.title Información adicional
                    .modal-body
                        form(role="form")
                            .form-group-attached
                                .row
                                    .col-md-12
                                        .form-group.form-group-default
                                            label Cantidad de tokens a retirar
                                            input#inputAmount.form-control(type="number", value=1)
                                .row
                                    .col-md-12
                                        .form-group.form-group-default
                                            label Nombre de la tarjeta
                                            #supercardInput
                        .row
                            .col-md-8
                                .p-t-20.clearfix.p-l-10.p-r-10
                                    .pull-left
                                        p.bold.font-montserrat.text-uppercase TOTAL
                                    .pull-right
                                        p.bold.font-montserrat.text-uppercase.text-total $0.00
                            .col-md-4.m-t-10.sm-m-t-10
                                button.btn.btn-primary.btn-block.js-btn-pay.m-t-5(type="button") Pagar
block extra_js
    script(src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js")
    script(src='https://js.stripe.com/v3/')
    script(src='{% static "js/Contract.js" %}')
    script(src="{% static 'pages/plugins/sweetalert/sweetalert.min.js' %}")

    script.
        (function (){
            var App = {
                Controls: {
                    getTokensBtn: $('.js-btn-getTokens'),
                    btnPay: $('.js-btn-pay'),
                    inputAmount: $('#inputAmount'),
                    inputModal: $('#modalSlideUp'),
                    totalText: $('.text-total'),

                    inputValue: null,
                    maxAmount: null,
                    inputKey: null,
                    offerIndex: null,

                    stripeInstance: null,
                    cardElement: null,
                },
                Methods: {
                    init: function(){
                        App.Methods.bindEvents();
                        App.Requests.Stripe.createStripeCreditCard();
                    },
                    bindEvents: function(){
                        App.Controls.getTokensBtn.on('click', App.Events.onGetTokensBtnClick);
                        App.Controls.inputModal.on('shown.bs.modal', App.Events.onInputModalShow);
                        App.Controls.inputAmount.on('change', App.Events.calculateTotal);
                        App.Controls.btnPay.on('click', App.Events.onBtnPayClick);
                    },
                    getAccounts: async function(){
                        const web3 = new Web3(Web3.givenProvider || new Web3.providers.HttpProvider('http://127.0.0.1:7545'));
                        return web3.eth.getAccounts();
                    }
                },
                Events: {
                    onGetTokensBtnClick: async function(){
                        try {
                            App.Controls.inputValue = $(this).data('value');
                            App.Controls.inputKey = $(this).data('key');
                            App.Controls.maxAmount = $(this).data('max-amount');
                            App.Controls.offerIndex = $(this).data('index');
                            App.Controls.inputModal.modal('show');
                        } catch(e){
                            console.error(e);
                        }
                    },
                    onInputModalShow: function(e){
                        App.Controls.inputAmount.val(1);
                        App.Events.calculateTotal(e);
                    },
                    calculateTotal: function(e){
                        const value = parseFloat(App.Controls.inputValue.replace(',', '.'));
                        const amount = parseFloat(App.Controls.inputAmount.val().replace(',', '.'));
                        App.Controls.totalText.text(`B/.${(value * amount).toFixed(2)}`);
                    },
                    onBtnPayClick: async function(e){
                        const { maxAmount } = App.Controls;
                        const index = App.Controls.offerIndex;
                        const key = App.Controls.inputKey;
                        const amount = App.Controls.inputAmount.val();
                        try{
                            App.Validations.validateAmount(amount, maxAmount);
                            const accounts = await App.Methods.getAccounts();
                            const account = accounts[0];
                            const tk = await App.Controls.stripeInstance.createToken(App.Controls.cardElement);
                            const token = tk.token.id;
                            await App.Requests.getTokens({amount, index, token, key, account});
                            $('#modalSlideUp').modal('hide');
                            Swal.fire({title: 'Exito'});
                            location.reload();
                        } catch(e){
                            console.error(e);
                            Swal.fire({type: 'error', title: e.toString()})
                        }
                    },
                },
                Requests: {
                    getTokens: function(data){
                        return $.ajax({
                            method: 'POST',
                            url: '{% url "tokens:pay-withdraw" %}',
                            data
                        });
                    },
                    Stripe: {
                        createStripeCreditCard: function(){
                            App.Controls.stripeInstance = Stripe('{{stripeKey}}');
                            const elements = App.Controls.stripeInstance.elements();
                            App.Controls.cardElement = elements.create('card');
                            App.Controls.cardElement.mount('#supercardInput');
                        },
                    },
                },
                Validations: {
                    validateAmount: function(value, maxAmount){
                        if(!value || !maxAmount)
                            throw Error('Datos imcompletos');
                        else if(value > parseFloat(maxAmount))
                            throw Error('No puede retirar una cantidad mayor de tokens a la disponible');
                    },
                    validateCCInfo: function(ccName, ccNumber, cvc){
                        if(!ccName || !ccNumber || !cvc)
                            throw Error('Datos imcompletos');
                        const reg = /^(\d{4}[- ]){3}\d{4}|\d{16}$/;
                        if(!reg.test(ccNumber))
                            throw Error('No es número valido de tarjeta');
                        else if(cvc.length > 3 || cvc.length <= 0)
                            throw Error('No es un codigo de seguridad valido');
                    },
                },
            }
            App.Methods.init();
        })()
